.description {
  padding: 20px;
  text-align: center;
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.tag,
.location {
  color: gray;
  margin-top: 4px;
}
